.intro {
  position: relative;
  &-headline {

  }
  &-text {

  }
}

.intro-first-headline {
  font: 60px $font-bold !important;
}

.intro-first-headline {
  font: 48px $font-main !important;
}

.intro-first-headline {
  font-size: 30px !important;
}

.intro-text {
  font: 24px $font-light !important;
}

.scroll {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateY(-50%);
  color: $light-text;
  &:hover {
    cursor: pointer;
  }
}

.welcome {
  padding-bottom: 0;
  &-container {
    padding-top: 10em;
  }
  &-headline {
    margin-bottom: 1em;
  }
  &-text {
    font-size: 18px !important;
    line-height: 1.5em;
  }
}

.offer-text {
  p {
    color: $light-text;
  }
}

.offer {
  &-header.margin {
    margin-bottom: 8em;
  }
  &-img-container {
    margin-bottom: 1em;
  }
  &-headline {
    margin-bottom: .8em;
  }
}