.type-post {
  border: 1px solid;
}

.single-post-img-container {
  overflow: hidden;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

.single-post-title {
  color: #d35400;
}

.type-post {
  margin-bottom: 2em;
}