$s-serif: sans-serif;
$serif: serif;
$font-main: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace, $s-serif;
$font-section-headlines: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace, $s-serif;

$fa-font-path:"./fonts/FontAwesome";